.about-page {
  .about1 {
    .row-n1{
      padding-top: 80px;
      padding-bottom: 30px;
    }
    .row-n2{
      padding-bottom:70px;
    }
    .about1-1 {
      font-size: $small_text;
      color: #666;
      p {
        margin-bottom: 10px !important;
      }
    }
    .about1-2 {
      .dear{
        padding-bottom: 10px;
      }
      .title-about1-2 {
        padding-top: 110px;
        padding-bottom: 30px;
      }
    }
    border-bottom: 1px solid $subcolor;
  }
  .about2 {
    padding-top: 100px;
    padding-bottom: 130px;
    .sef-intro {
      padding-left: 30px;
    }
    .abt-content {
      position: relative;
      .abt-inner{
        position: absolute;
        bottom: 0;
      }
    }
    .about-des {
      color: #333;
      padding-bottom: 40px;
    }
    .about-title {
      font-size: $medium_text;
      color:  #333333;
      padding-bottom: 14px;
    }
    .about-info {
      display: flex;
      align-items: center;
      padding-bottom: 40px;
    }
    .about-dot {
      padding: 0 15px;
    }
  }
  .about-skill {
    padding-top: 140px;
    padding-bottom: 140px;
    .skill-common {
      color: #000000;
      .mid-text {
        padding-top: 30px;
        padding-bottom: 20px;
      }
    }
    background: $primary_color;
    .skill-title {
      text-decoration: underline;
      font-family: 'SFUFutura-md', sans-serif;
    }
    .skill-container {
      padding-top: 30px;
    }
    .skill-item {
      display: flex;
      padding-top: 20px;
      padding-bottom: 10px;
      border-bottom: 0.5px solid #999999;
      .skill-name {
        margin-left: auto;
      }
    }
  }
  .core-value {
    padding: 130px 65px 200px 65px;
    .core-img {
      background-image: url("../img/core.jpg");
      padding-top:100px;
      padding-bottom:100px;
      background-attachment: fixed;
      height: 450px;
      background-repeat: no-repeat;
      background-size: 100%;
    }
    .core-content {
      padding-left: 30px !important;
      position: relative;
    }
    .detail-container {
      bottom:0;
      position: absolute;
      .detail-item{
        height: 100%;
        .heading_3 {
          margin-top:60px;
        }
        .detail-title-btm{
          position: absolute;
          bottom:0;
        }
        .detail-line {
          padding-top: 20px;
          border-top: 1px solid $subcolor;
          margin-top: 10px;
        }
      }
      .left-item{
        padding-right: 15px !important;
      }
      .mid-item {
        padding-left: 15px !important;
        padding-right:15px !important;
      }
      .right-item{
        padding-left: 15px !important;
      }
    }
  }
  .about-last {
    .last-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    text-align: center;
    .line {
      border-top: 1px solid #000000;
      width: 270px;
      padding-bottom: 30px;
    }
  }
}
//ABOUT TEST
.new-about{
  background-color: #F0EEEB;
  .about-banner-left{
    .f-left{
      align-self: center;
    }
  }
  .about-banner-right{
    .f-right{
      display: flex;
      justify-content: end;
    }
    .abt-banner-right-bt{
      padding-top: 80px;
    }
  }
  .raw-col{
    flex-basis: calc(50%) !important;
  }
  img{
    border: 1px solid #ccc;
  }
  .welcome-abt{
    .my-h{
      margin-left: 0 !important;
      font-size: 72px !important;
    }
    .welcome-abt-inner{
      .my-row{
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        .set-columns{
          padding-left: 15px !important;
          padding-right: 15px !important;
        }

      }
      .welcome-img2{
        position: absolute;
        right: 0;
        top: -78px;
        .img-inner{
          display: flex;
          justify-content: flex-end;
        }
      }
    }
    .my-content{
      //position: absolute;
      //bottom: 20%;
      //right: 0;
      .content-inner{
        font-size: 14px !important;
        line-height: 1.5;
      }
    }
  }
}
