.line4-right{
  background-color: #F5EAE0;
}
.line6-inner{
  background-color: #F5EAE0;
  position: relative;
  height:600px
}
.line6-img{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}