.alio-showcase{
  background-color: $primary_color;
}
.r1-right{
  position: relative;
  .slide-content{
    position: absolute;
    top:40%;
    left: 10%;
    color: #fff;
  }
}
.r2-left{
  position: relative;
  background-color: #F5EAE0;
}
.r-logo{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.content{
  position: absolute;
  bottom: 60px;
  padding-left:60px;
  padding-right:60px;
  max-width:60em;
  .heading_6{
    margin-bottom: 30px;
  }
}

.slide-content {
  animation: slide-in-left 2s ease-out forwards;
  opacity: 0;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-15%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}