
.product-showcase{
  background-color: #E1DDD6;
}
.r1-right{
  position: relative;
  .slide-content{
    position: absolute;
    top:40%;
    left: 7%;
    color: #fff;
  }
}
.r2-left{
  position: relative;
  background-color: #F5EAE0;
}
.r-logo{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.content2{
  position: absolute;
  bottom: 60px;
  padding-left:60px;
  padding-right:60px;
  max-width:60em;
  .heading_4{
    margin-bottom: 30px;
  }
}
.alio2-left{
  .img-inner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    img{
      max-width: 480px;
    }
  }
}

.slide-content {
  animation: slide-in-left 2s ease-out forwards;
  opacity: 0;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-15%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {

  .r1-right{
    .slide-content{
      top: 50%;
    }
  }

}