//VARIABLE
$primary_color: #F0F0EA;
$secondary_color: #808285;
$subcolor: #E4E4E4;
$heading_1: 60px;
$heading_2: 46px;
$heading_3: 38px;
$heading_4: 32px;
$heading_5: 24px;
$heading_6: 20px;
$medium_text: 16px;
$body_text: 14px;
$small_text: 12px;

//IMPORT
@import "layout";
@import "home";
@import "about";
@import "contact";
@import "alio";
@import "aguri";
@import "fashion";
@import "cake";

html,
body {
  min-height: 100vh;
  margin: 0;
  color: #373737 !important;
}

//SCROLL BAR
::-webkit-scrollbar {
  width: 0px;
  height:0px;
}
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.page-body-wrapper {
  padding-top: 61px;
}

//FONT-STYLE
.heading_1 {
  font-family: 'AmericanaBT', serif;
  font-size: $heading_1;
  line-height: $heading_1*1,25;
}
.heading_2 {
  font-family: 'AmericanaBT', serif;
  font-size: $heading_2;
  line-height: 56px;
}
.heading_3 {
  font-family: 'AmericanaBT', serif;
  font-size: $heading_3;
  line-height: 47px;
}
.heading_4 {
  font-family: 'AmericanaBT', serif;
  font-size: $heading_4;
  line-height: 40px;
}
.heading_5 {
  font-family: 'AmericanaBT', serif;
  font-size: $heading_5;
  line-height: 30px;
}
.heading_6 {
  font-family: 'AmericanaBT', serif;
  font-size: $heading_6;
  line-height: 25px;
}
.body_text {
  font-family: 'SFUFutura regular', sans-serif;
  font-size: $body_text;
  line-height: 21px;
}
.medium_text {
  font-family: 'SFUFutura regular', sans-serif;
  font-size: $medium_text;
  line-height: 24px;
}
.small_text {
  font-family: 'SFUFutura regular', sans-serif;
  font-size: $small_text;
  line-height: 18px;
}

//setting
.container-fluid {
  padding-left: 65px !important;
  padding-right: 65px !important;
}
.row {
  width: 100%;
  margin: 0 !important;
}
.bg-primary {
  background: $primary_color;
}
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.sec_color{
  color: $secondary_color;
}
.pdb-60{
  padding-bottom: 60px;
}
.mt-30{
  margin-top:30px;
}
//SHOWCASE HERE
.test{
  height: 100vh;
  box-sizing: border-box;
}
.img-container {
  position: relative;
  text-align: center;
  width: 100%;
  img {
    width: 100%;
    object-fit: contain;
  }
  .img-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

[class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.back-to-top {
  color: #666;
  position: fixed;
  right: -5px;
  bottom: 20%;
  cursor: pointer;
  transform: rotate(90deg);
}

.get-in-touch {
  color: #666;
  position: fixed;
  left: -5px;
  bottom: 20%;
  cursor: pointer;
  transform: rotate(-90deg);
}
.get-in-touch:hover {
  color: #999;
  text-decoration: none;
}
.back-to-top:hover {
  color: #666;
}
.boder-none {
  border: none !important;
}
.content-center {
  justify-content: center;
}
.top-to-btm{
  .position{
    color: #666;
    position: fixed;
    left: 15px;
    bottom: 45%;
    cursor: pointer;
    transform: rotate(-90deg);
  }
  .icon-up{
    color: #666;
    position: fixed;
    left: 25px;
    top: 10%;
    cursor: pointer;
  }
  .icon-down{
    color: #666;
    position: fixed;
    left: 25px;
    bottom: 10%;
    cursor: pointer;
  }
}
.btt2{
  bottom: 45% !important;
}
.contain{
  padding-left: 50px;
  padding-right:50px;
  .more-pj{
    .col-4{
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
}
