//VARIABLE
$primary_color: #E7E4DE;
$secondary_color: #808285;
$subcolor: #E4E4E4;
$heading_1: 60px;
$heading_2: 46px;
$heading_3: 38px;
$heading_4: 32px;
$heading_5: 28px;
$heading_6: 20px;
$medium_text: 16px;
$body_text: 14px;
$small_text: 13px;

//IMPORT
@import "layout";
@import "home";
@import "about";
@import "contact";
@import "alio";
@import "aguri";
@import "fashion";
@import "cake";
@import "designs";
@import "animation";
@import "tailwind.css";

html,
body {
  font-family: 'SFUFutura', sans-serif;
  min-height: 100vh;
  margin: 0;
  color: #221E1F !important;
}

a {
  color: #221E1F;
}

//SCROLL BAR
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

// .page-body-wrapper {
//   min-height: calc(100vh - 68px);
// }

//FONT-STYLE
.heading_1 {
  font-family: 'AmericanaBT', serif;
  font-size: $heading_1;
  line-height: $heading_1*1.15;
}

.heading_2 {
  font-family: 'SFUFutura', sans-serif;
  font-size: $heading_2;
  line-height: $heading_2*1.25;
}

.heading_3 {
  font-family: 'SFUFutura', sans-serif;
  font-size: $heading_3;
  line-height: $heading_3*1.25;
}

.heading_4 {
  font-family: 'SFUFutura', serif;
  font-size: $heading_4;
  line-height: $heading_4*1.25;
}

.heading_5 {
  font-family: 'SFUFutura', serif;
  font-size: $heading_5;
  line-height: $heading_5*1.25;
}

.heading_6 {
  font-family: 'SFUFutura', sans-serif;
  font-size: $heading_6;
  line-height: $heading_6*1.25;
}

.body_text {
  font-family: 'SFUFutura', sans-serif;
  font-size: $body_text;
  line-height: $body_text*1.5;
}

.medium_text {
  font-family: 'SFUFutura-md', sans-serif;
  font-size: $medium_text;
  line-height: $medium_text*1.5;
}

.small_text {
  font-family: 'SFUFutura', sans-serif;
  font-size: $small_text;
  line-height: $small_text*1.5;
}

.text-large {
  padding: 10px 0;
  font-family: 'AmericanaBT', serif;
  font-size: 86px;
  line-height: 100px;
}

.text-large-2 {
  font-size: $heading_1;
  line-height: $heading_1*1.1;
  font-family: 'SFUFutura', sans-serif;
}

.decor-line {
  display: flex;
  align-self: center;
  height: 1px;
  background: black;
}

//setting
.container-fluid {
  padding-left: 65px !important;
  padding-right: 65px !important;
}

.row {
  width: 100%;
  margin: 0 !important;
}

.bg-primary {
  background: $primary_color;
}

// .page {
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
// }

.sec_color {
  color: $secondary_color;
}

.pdb-60 {
  padding-bottom: 60px;
}

.mdb-60 {
  margin-bottom: 60px;
}

.mt-30 {
  margin-top: 30px;
}


.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.back-to-top {
  color: #333;
  position: fixed;
  right: -5px;
  bottom: 20%;
  cursor: pointer;
  transform: rotate(90deg);
  transition: all 0.3s ease;
}

.back-to-top:hover {
  color: #666;
  transform: rotate(90deg) scale(1.2);
  font-weight: bold;
}

.get-in-touch {
  color: #333;
  position: fixed;
  left: -5px;
  bottom: 20%;
  cursor: pointer;
  transform: rotate(-90deg);
  transition: all 0.3s ease;
}

.get-in-touch:hover {
  color: #666;
  text-decoration: none;
  transform: rotate(-90deg) scale(1.2);
  font-weight: bold;
}

.boder-none {
  border: none !important;
}

.content-center {
  justify-content: center;
}

.top-to-btm {
  .position {
    color: #666;
    position: fixed;
    left: 15px;
    bottom: 45%;
    cursor: pointer;
    transform: rotate(-90deg);
  }

  .icon-up {
    color: #666;
    position: fixed;
    left: 25px;
    top: 10%;
    cursor: pointer;
  }

  .icon-down {
    color: #666;
    position: fixed;
    left: 25px;
    bottom: 10%;
    cursor: pointer;
  }
}

.btt2 {
  bottom: 45% !important;
}

.more-project {
  margin-top: 90px;

  .contain {
    padding-left: 50px;
    padding-right: 50px;

    .more-pj {
      .col-4 {
        padding-left: 15px !important;
        padding-right: 15px !important;

        .pj_name {
          margin-bottom: 10px;
          margin-top: 20px;
        }
      }
    }
  }
}

.dropdown-menu {
  left: 47px !important;
  margin-top: 19px !important;

  .dropdown-item {
    .nav-link {
      padding-left: 0px !important;
    }
  }
}

.ag-line6 {
  background-color: #F5EAE0;

  .inner {
    padding: 60px 100px;
  }

  img {
    border: 1px solid #808080;
  }
}

//MORE PROJECT
.title-pj .pj_name {
  margin-right: auto;
}

.title-pj .icon-right {
  display: flex;
  align-items: center;
}

.title-pj {
  justify-content: center;
  align-items: center;
}

.my-header {
  z-index: 1000;
  transition: top .3s linear, opacity 0s;
  background: #fff;

  .header-navdrop {
    .navdrop-inner {
      z-index: 3000;
      display: none;
      width: max-content;
      background: #fff;

      .sub-menu {
        color: #221e1f;
      }

      .sub-menu:hover {
        color: #221e1f;
      }
    }
  }

  .header-navdrop:hover .navdrop-inner {
    display: block;
  }

  .header-navdrop:hover .navdrop-inner {
    display: block;
  }

}

// CardSlider css
.slider-wrp {
  .slider-content {
    overflow-y: hidden;
    overflow-x: auto;
  }

  .slider-content::-webkit-scrollbar {
    display: none;
  }

  //overflow: hidden;
  width: 100%;
  position: relative;

  .slider-items {
    gap: var(--slide-gap);
  }

  @media screen and (max-width: 768px) {
    .slider-items {
      gap: var(--slide-gap-mobile);
    }

    .slider-control {
      display: none;
    }

  }

  .slider-control {
    width: 100%;

    //opacity: 0;
    .prev-button {
      position: absolute;
      //top: 50%;
      left: 0;
      z-index: 1000;
      transform: translateY(-50%);
      transition: opacity var(--transition-duration) cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    }

    .next-button {
      z-index: 1000;
      transform: translateY(-50%);
      position: absolute;
      //left: auto;
      right: 0;
      transition: opacity var(--transition-duration) cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    }

    .btn-disable {
      opacity: 0.5;
    }

  }

  @media (max-width: 768px) {
    .slider-control {
      opacity: 1;
    }
  }

}

.slider-wrp:hover {
  .slider-control {
    opacity: 1;
  }
}

.slider-items {
  display: flex;
  overflow: hidden;
}

.slider-item {
  width: 100%;
  transition: all var(--transition-duration) cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.slider-process {
  // background-color: #cccccc;
  margin-top: 40px;
  width: 100%;
  border-radius: 2px;
}

.process-wrp {
  width: 0%;
  height: 2px;
}

.slider-paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.paginate-item {
  cursor: pointer;
  height: 8px;
  width: 8px;
  border-radius: 5px;
  // background: #ccc;
}

.paginate-item.active {
  // background: #fff;
}

.card-slider {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.slide-card-item {
  opacity: 0;
  position: absolute;
  width: 100%;
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

  img {
    width: 100%;
    object-fit: cover;
  }

  z-index: 1;

  .slide-des {
    opacity: 0;
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
}

.slide-card-item.active {
  background-color: transparent;
  border: none;
  opacity: 1;
  z-index: 3;

  .slide-des {
    opacity: 1;
  }
}

.slide-card-item.before {
  z-index: 2;
  opacity: 1;
  transform: translatex(-100%) scale(.8) translateY(-5%);
}

.slide-card-item.before2 {
  transform: translatex(-150%) scale(.8) translateY(-5%);
}

.slide-card-item.after {
  z-index: 2;
  opacity: 1;
  transform: translatex(100%) scale(.8) translateY(7%);
}

.slide-card-item.after2 {
  transform: translatex(150%) scale(.8) translateY(10%);
}

.card-slider-vertical {
  .slide-card-item.before {
    z-index: 2;
    opacity: 1;
    transform: translatex(0%) scale(.8) translateY(-25%);
  }

  .slide-card-item.before2 {
    transform: translatex(0%) scale(.8) translateY(-30%);
  }

  .slide-card-item.after {
    z-index: 2;
    opacity: 1;
    transform: translateY(25%) scale(.8);
  }

  .slide-card-item.after2 {
    transform: translateY(30%) scale(.8);
  }
}

.card-slider-text {
  .slide-card-item.before {
    opacity: 0;
  }

  .slide-card-item.after {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .my-header {
    display: none !important;

  }


  .slide-card-item.before {
    z-index: 2;
    opacity: 1;
    transform: translatex(-20%) scale(.8) translateY(-10%);
  }

  .slide-card-item.before2 {
    transform: translatex(-30%) scale(.8) translateY(-10%);
  }

  .slide-card-item.after {
    z-index: 2;
    opacity: 1;
    transform: translatex(20%) scale(.8);
  }

  .slide-card-item.after2 {
    transform: translatex(30%) scale(.8);
  }

  .card-slider-vertical {
    .slide-card-item.before {
      z-index: 2;
      transform: translatex(0%) scale(.8) translateY(-25%);
    }

    .slide-card-item.before2 {
      transform: translatex(0%) scale(.8) translateY(-30%);
    }

    .slide-card-item.after {
      z-index: 2;
      transform: translateY(25%) scale(.8);
    }

    .slide-card-item.after2 {
      transform: translateY(30%) scale(.8);
    }
  }

  .heading_1 {
    font-size: 43px
  }

  .heading_2 {
    font-size: 32px;
    line-height: 125%;
  }

  .heading_3 {
    font-size: 28px;
    line-height: 125%;
  }

  .heading_4 {
    font-size: 24px;
    line-height: 125%;
  }

  .heading_5 {
    font-size: 20px;
    line-height: 125%;
  }

  .heading_6 {
    font-size: 16px;
    line-height: 125%;
  }
}

.control-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  width: 60px;
}

.control-right {
  position: absolute;
  right: 0;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  width: 60px;
}

.header-mobile {
  transition: top .3s linear, opacity 0s;
  background: #fff;
  z-index: 9999;


  .header-mobile-menu {
    position: fixed;
    top: 52px;
    left: 0;
    height: 100%;
    backdrop-filter: blur(55px);
    background: rgba(255, 255, 255, 0.4);
    transition: all 0.5s ease;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
  }

  .btn-header-mobile {
    transition: all 0.3s ease;
  }
}

.header-mobile-open {
  z-index: 10000;

  .btn-header-mobile {
    transform: rotate(-180deg);
  }

  .header-mobile-menu {
    opacity: 1;
    z-index: 1000;
    pointer-events: all;
  }
}

.navdrop-mobile-inner {
  opacity: 0;
  transition: all 0.5s ease;
  height: 0;
  transform: translateY(-20px);
  z-index: -1;
  pointer-events: none;
}

.navdrop-mobile-inner-open {
  transform: translateY(0);
  opacity: 1;
  height: 130px;
  pointer-events: all;
}

body:has(.header-mobile-open) {
  overflow: hidden;
  height: 100vh;
}

.section-full {
  width: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: center;
}

.section {
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {

  .all-my-projects,
  .section {
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px){
  // About page
  .skill-card:last-child {
    background: #D8D9D3;
  }
  .skill-card {
    background: #F0EEEB;
  }
  .design-scale-out:hover{
    .design-scale-img{
      transform: scale(1.2);
    }
  }
  .design-scale-img{
    transform: scale(0);
    transition: all 0.4s ease-out;
  }
}

.m-w {
  padding: 0 15px;
  width: 100%;
  max-width: 1300px;
}

.all-my-projects {
  max-width: 950px;
  margin: auto;
}

// .image-container::before{
//   content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         background-color: rgba(255, 255, 255, 0.4);
//         backdrop-filter: blur(30px);
//         z-index: 1;
//         margin-bottom: 60px;
// }
.phone-inner {
  transform: translate(-50%, -50%);
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid #d4d4d4;
  border-bottom-color: #282828;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// PROJECT PAGE
// automatic change color in each 5s
@keyframes colorChange {
  0% { background-color: #EBF7F5; }
  25% { background-color: #FADFF7; }
  50% { background-color: #E2E9F0; }
  75% { background-color: #FEEDC9; }
  100% { background-color: #EBF7F5; }
}

.colorDiv {
  text-align: center;
  cursor: pointer;
  animation: colorChange 8s infinite;
}

// Link decor
.text-link{
  text-decoration: none;
  position: relative;
}
.text-link:after{
  content: "";
  left: 0;
  width: 100%;
  display: block;
  position: absolute;
  bottom: -1px;
  height: 1px;
  background: #0f0b0a;
  transition: transform .2s ease,opacity .4s cubic-bezier(.215,.61,.355,1);
  transform: scaleX(1);
  transform-origin: 0 50%;
}
.text-link:hover:after{
  transform: scaleX(0);
  transform-origin: 100% 50%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}