// variable
$primary_color: #E1DDD6;
$second_color: #F5EAE0;
$subcolor: #808285;
$heading_1: 60px;
$heading_2: 48px;
$heading_3: 40px;
$heading_4: 32px;
$heading_5: 28px;
$heading_6: 20px;
$medium_text: 16px;
$body_text: 14px;
$small_text: 12px;

@import "layout";
@import "home";
@import "about";
@import "contact";

html,
body {
  min-height: 100vh;
  margin: 0;
}

//scroll bar
::-webkit-scrollbar {
  width: 0px;
  height:0px;
}
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.page-body-wrapper {
  padding-top: 81px;
}

.heading_1 {
  font-family: 'AmericanaBT', serif;
  font-size: $heading_1;
  line-height: 72px;
}
.heading_2 {
  font-family: 'AmericanaBT', serif;
  font-size: $heading_2;
  line-height: 58px;
}
.heading_3 {
  font-family: 'AmericanaBT', serif;
  font-size: $heading_3;
  line-height: 50px;
}
.heading_4 {
  font-family: 'AmericanaBT', serif;
  font-size: $heading_4;
  line-height: 40px;
}
.heading_5 {
  font-family: 'AmericanaBT', serif;
  font-size: $heading_5;
  line-height: 32px;
}
.heading_6 {
  font-family: 'FuturaPT medium', sans-serif;
  font-size: $heading_6;
  line-height: 25px;
}
.body_text {
  font-family: 'FuturaPT book', sans-serif;
  font-size: $body_text;
  line-height: 21px;
}
.medium_text {
  font-family: 'FuturaPT medium', sans-serif;
  font-size: $medium_text;
  line-height: 24px;
}
.small_text {
  font-family: 'FuturaPT book', sans-serif;
  font-size: $small_text;
  line-height: 18px;
}

.container-fluid {
  padding-left: 65px !important;
  padding-right: 65px !important;
}
.row {
  width: 100%;
  margin: 0 !important;
}

.bg-primary {
  background: $primary_color;
}
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.img-container {
  position: relative;
  text-align: center;
  width: 100%;
  img {
    width: 100%;
    height: auto;
  }
  .img-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

[class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.back-to-top {
  color: $subcolor;
  position: fixed;
  right: -10px;
  bottom: 20%;
  cursor: pointer;
  transform: rotate(90deg);
}

.get-in-touch {
  color: $subcolor;
  position: fixed;
  left: -10px;
  bottom: 20%;
  cursor: pointer;
  transform: rotate(-90deg);
}
.get-in-touch:hover {
  color: #666;
  text-decoration: none;
}
.back-to-top:hover {
  color: #666;
}
.boder-none {
  border: none !important;
}
.content-center {
  justify-content: center;
}