.more-pj{
  .more-2{
    margin-left: 15px;
    margin-right: 15px;
  }
  .more-1{
    margin-right: 15px;
    width:calc(33.3% - 30px);
  }
  .more-3{
    margin-left: 15px;
    width:calc(33.3% - 30px);
  }
}