.more-pj{
  .more-pj-1{
    padding-right: 30px !important;
    padding-left: -15px !important;
  }
  .more-pj-2{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .more-pj-3{
    padding-left: 30px !important;
    padding-left: -15px !important;
  }
}