.cake-intro-content{
  //background-color: #F5EAE0;
}

.cake-banner{
  position: relative;
  .showcase-content{
    position: absolute;
    bottom: 5%;
  }
  margin-bottom: 60px;
}
@media screen and (max-width: 768px){
  .cake-banner{
    .showcase-content{
      // position: relative;
      bottom: 15px;
    }
  }
  .cake-page {
    .ag-line6 .inner {
      padding: 15px;
    }
  }
  
}
//
.cake-abtpage{
  .cake-abtpage-left{
    background-color: #F5EAE0;
    .about-contain{
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .title-top{
        position: absolute;
        top: -20px;
      }
      .title-btm{
        position: absolute;
        bottom: -5%;
        left: 10%;
      }
    }
  }
}