.my-design{
  background-color: #000;
  height: calc(100vh - 61px);
  position: fixed;
  width: 100%;
  color: #fff;
  .design-background{
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: -1;
    .background-text{
      font-family: Americana;
      font-size: 330px;
      color: rgba(255, 255, 255, 0.5);
      font-weight: 700;
      position: absolute;
      bottom: -150px;
    }
  }
  .design-front{
    z-index: 1;
    .design-title{
      text-align: center;
      margin-top: 32px;
      margin-bottom: 40px;
    }
    .design-products{
      .all-mydes{

        .mydes{

        }
      }
    }
  }
}