.my-design{
  margin-bottom:90px;
  .my-des-title{
    padding-top:130px;
    .byme{
      .byme2{
        color:#999;
      }
      .dot-bl{
        align-self: center;
        .img-ellipe-99{
          width: 13px;
        }
      }
    }
  }

}
.my-project{
  padding-left:50px !important;
  padding-right:50px !important;
  .project-even{
    top:60px;
    padding-left:15px !important;
    padding-right:15px !important;
  }
  .project-odd{
    padding-left:15px !important;
    padding-right:15px !important;
  }
  img{
    filter: grayscale(100%);
    transition: all 0.5s ease;
  }
  img:hover{
    filter: grayscale(0);
  }
  //.project-image{
  //  position: relative;
  //  .view-text{
  //    position: absolute;
  //    color: rgba(0, 0, 0, 0.9);
  //
  //  }
  //}
}
