.showcase{
  position: relative;
  .showcase-inner{
    width: 100%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .image-left{
    position: relative;
  }
  .content-right{
    top:25%;
    position: absolute;
    right: 90px;
  }
  .line{
    border-bottom: 1px solid #fff;
    width: 80%;
  }

}
.light-text{
  color: #fff;
}
.mx-max{
  margin-left: 70px;
  margin-right: 70px;
}
