.showcase{
  position: relative;
  .show-case-bg {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .img-inside {
    position: absolute;
    height: 80%;
    width: auto;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .banner-content {
    z-index: 3;
    width: 75%;
    padding-right: 100px;
  }
  @media (max-width: 768px){
    .banner-content {
      padding-right: 10px;
    }
  }
  .showcase-inner {
    position: relative;
    z-index: 3;
    padding: 100px 0;

  }
  .image-left{
    position: relative;
  }
  .content-right{
    top:25%;
    position: absolute;
    right: 90px;
  }
  .line{
    border-bottom: 1px solid #fff;
    width: 80%;
  }

}
.light-text{
  color: #fff;
}
.mx-max{
  margin-left: 70px;
  margin-right: 70px;
}
