.home-page {
  .home-info {
    padding-top: 50px;
    padding-bottom: 60px;
    .info-content {
      margin-left: 30px;
      .info-name {
        padding-top: 20px;
      }
    }
  }
  .page-element{
    display: flex;
    justify-content: center;
    .img-text {
      font-size: $heading_5;
      color: #FFFFFF;
    }
    .img-smile {
      margin-left: 15px;
      height: 50px;
      width: 50px;
    }
    .img-ellipe {
      margin: 0 30px;
      height: 15px;
      width: 15px;
    }
  }
  .home-info2 {
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: $medium_text;
    .info-lage {
      padding-top: 20px;
      font-size: $heading_4;
    }
  }
  .home-info3 {
    height: 793px;
    background: $primary_color;

    .text-large {
      font-family: 'AmericanaBT', serif;
      font-size: 100px;
      line-height: 120px;
    }
    .brands {
      display: flex;
      width: 100%;
      margin-left: 30px;
      height: 70px;
      .brands-line {
        margin-left: auto;
        width: 169px;
        border-bottom: 1px solid #000000;
      }
    }
    .child1{
      padding-top: 128px;
    }
    .child2{
      padding-left: 15px !important;
      padding-top: 120px;
    }
    .child3{
      display: flex;
      justify-content: end;
      .small-img {
        display: flex;
        justify-content: end;
      }
    }
  }
  .my-design {
    .des-main {
      display: flex;
      align-items: center;
    }
    .des-title {
      font-size: $heading_3;
    }
    .des-content {
      padding-top: 30px;
      font-size: $small_text;
    }
    .des-img-container {
      .img-des {
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
          filter: grayscale(100%);
          transition: filter 1.0s ease;
        }
        img:hover{
          filter: grayscale(0%);
        }
      }
      padding-top: 80px;
      .content-title {
        padding-top: 22px;
        width: 100%;
        display: flex;
        font-size: $medium_text;
        .des-no {
          font-size: $heading_5;
        }
        .title-status {
          margin-left: auto;
          color: $subcolor;
        }
        .content-text {
          padding-top: 10px;
          font-size: $small_text;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  body {
    background-color: lightblue;
  }
}

@media only screen and (max-width: 900px) {
  body {
    background-color: lightblue;
  }
}

@media only screen and (max-width: 390px) {
  body {
    background-color: lightblue;
  }
}