//SHOWCASE HERE
.ntd-showcase{
  overflow: hidden;
}
.showcase-img{
  background-image: url("../img/Showcase.png");
  position: relative;
  height:420px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}
.sentence-container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width:max-content;
  //animation: marquee 20s linear infinite;
  //white-space: nowrap;
  //@keyframes marquee {
  //  0% { transform: translateX(100%); }
  //  100% { transform: translateX(-100%); }
  //}
  .img-smile {
    margin-left: 15px;
    height: 35px;
    width: 35px;
  }
  .img-ellipe {
    height: 12px;
    width: 12px;
    margin-left: 15px;
    margin-right:15px;
  }
}

//HOMEPAGE
.home-page {
  .home-info {
    padding-top: 40px;
    padding-bottom: 40px;
    .info-content {
      margin-left: 30px;
      .info-name {
        padding-top: 20px;
      }
    }
    .main-logo{
      max-height: 97px;
    }
  }
  .page-element{
    display: flex;
    justify-content: center;
  }
  .home-info2 {
    padding-top: 30px;
    padding-bottom: 110px;
    font-size: $medium_text;
    .info-lage {
      padding-top: 20px;
      font-size: $heading_4;
    }
  }
  .home-info3 {
    background: $primary_color;
    padding-top:95px;
    .brands-left{
      padding-right:15px !important;
    }
    .brands {
      padding-left: 15px !important;
      display: flex;
      width: 100%;
      height: 46px;
      .brands-line {
        margin-left: 10px;
        width: 100%;
        border-bottom: 1px solid #000000;
      }
    }
    .child1{
      padding-right:15px !important;
    }
    .child2{
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
    .child3{
      padding-left: 15px !important;
      display: flex;
      justify-content: end;
    }
    .img-box{
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        display: block;
        margin: auto;
      }
    }
    .small-img{
      position: relative;
      img{
        float:right;
      }
    }
  }
}
.img-des {
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: all 0.5s ease;
  }
  img:hover {
    filter: grayscale(0%);
  }
}
.pj_name{
  display: flex;
  align-items: center;
}
.pj_intro{
  width: 80%;
}
.mydes-title{
  padding-top:120px;
  padding-bottom:70px;
}
.des_r1{
  padding-bottom: 80px;
}
//
.decor-line{
  width: 40%;
}
.mydes-content{
  position: absolute;
  bottom: 5%;
}

.dot-bl{
  align-self: center;
  .img-ellipe-bl{
    width: 13px;
  }
}
@media only screen and (max-width: 1200px) {
  body {

    .home-page{
      .home-info3{
        .text-large{
          font-size:60px;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  body{
    .home-page{
      .home-info3{
        .text-large{
          font-size:50px;
        }
      }
    }
    .active{
      justify-content: left;
      padding-left: 20px;
    }
    .container-fluid{
      padding-left: 35px !important;
      padding-right:35px !important;
    }
    .body_text {
      font-size: 12px;
      line-height: 18px;
    }
    .back-to-top {
      right: -14px;
      bottom: 20%;
    }
    .get-in-touch {
      left: -14px;
      bottom: 20%;
    }
  }
}

@media only screen and (max-width: 768px) {
  body {
    .active{
      justify-content: left;
      padding-left: 20px;
    }
    .container-fluid{
      padding-left: 35px !important;
      padding-right:35px !important;
    }
    .body_text {
      font-size: 12px;
      line-height: 18px;
    }
    .back-to-top {
      right: -14px;
      bottom: 20%;
    }
    .get-in-touch {
      left: -14px;
      bottom: 20%;
    }
    .home-page{
      .home-info3{
        .text-large{
          font-size:54px;
        }
      }
      .home-info2{

      }
    }
  }
}

@media only screen and (max-width: 576px) {
  body {

    .home-page{
      .main-logo{
        max-height: 47px;
      }
    }
  }
}

@media only screen and (max-width: 300px){

}
