.home-page {
  .home-info {
    padding-top: 40px;
    padding-bottom: 40px;
    .info-content {
      margin-left: 30px;
      .info-name {
        padding-top: 20px;
      }
    }
    .main-logo{
      max-height: 97px;
    }
  }
  .page-element{
    display: flex;
    justify-content: center;
    .img-smile {
      margin-left: 15px;
      height: 50px;
      width: 50px;
    }
    .img-ellipe {
      height: 15px;
      width: 15px;
    }
  }
  .home-info2 {
    padding-top: 30px;
    padding-bottom: 100px;
    font-size: $medium_text;
    .info-lage {
      padding-top: 20px;
      font-size: $heading_4;
    }
  }
  .home-info3 {
    background: $primary_color;
    padding-top:80px;
    .text-large {
      padding: 10px 0;
      font-family: 'AmericanaBT', serif;
      font-size: 94px;
      line-height: 115px;
    }
    .brands-left{
      padding-right:15px !important;
    }
    .brands {
      padding-left: 15px !important;
      display: flex;
      width: 100%;
      height: 46px;
      .brands-line {
        margin-left: 10px;
        width: 100%;
        border-bottom: 1px solid #000000;
      }
    }
    .child1{
      padding-right:15px !important;
    }
    .child2{
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
    .child3{
      padding-left: 15px !important;
      display: flex;
      justify-content: end;
    }
    .img-box{
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        display: block;
        margin: auto;
      }
    }
    .small-img{
      position: relative;
      img{
        float:right;
      }
    }
  }
  .my-design {
    .img-des {
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        filter: grayscale(100%);
        transition: all 1s ease;
      }
      img:hover {
        filter: grayscale(0%);
      }

    }
  }
}
.pj_name{
  display: flex;
  align-items: center;
}
.pj_intro{
  width: 80%;
}
.my-des-title{
  padding-top:100px;
  padding-bottom:60px;
}
.des_r1{
  padding-bottom: 80px;
}
.sentence-container {
  width: 100%;
  height: 430px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
//
//text:nth-child(1) {
//  animation: scrollTextStart 6s infinite linear;
//}
//text:nth-child(2) {
//  animation: scrollTextEnd 6s infinite linear;
//}
//@keyframes scrollTextStart {
//  from { transform: translateX(0%); }
//  to { transform: translateX(-100%); }
//}
//@keyframes scrollTextEnd {
//  from { transform: translateX(100%); }
//  to { transform: translateX(0); }
//}


//.content {
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//  height: 160px;
//  overflow:hidden;
//  color: #fff;
//
//  &__container {
//    font-weight: 600;
//    overflow: hidden;
//    height: 47px;
//    padding: 0 40px;
//
//    &:before {
//      content: '[';
//      left: 0;
//    }
//
//    &:after {
//      content: ']';
//      position: absolute;
//      right: 0;
//    }
//
//    &:after, &:before {
//      position: absolute;
//      top: 0;
//      line-height: 47px;
//      font-size: 38px;
//      -webkit-animation-name: opacity;
//      -webkit-animation-duration: 2s;
//      -webkit-animation-iteration-count: infinite;
//      animation-name: opacity;
//      animation-duration: 2s;
//      animation-iteration-count: infinite;
//    }
//
//    &__text {
//      display: inline;
//      float: left;
//      margin-right:40px;
//    }
//
//    &__list {
//      margin-top: 0;
//      padding-left: 110px;
//      text-align: left;
//      list-style: none;
//
//      -webkit-animation-name: change;
//      -webkit-animation-duration: 10s;
//      -webkit-animation-iteration-count: infinite;
//      animation-name: change;
//      animation-duration: 10s;
//      animation-iteration-count: infinite;
//
//      &__item {
//        line-height:40px;
//        margin:0;
//      }
//    }
//  }
//}
//
//@-webkit-keyframes opacity {
//  0%, 100% {opacity:0;}
//  50% {opacity:1;}
//}

//@-webkit-keyframes change {
//  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
//  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
//  33.32%,45.98% {transform:translate3d(0,-50%,0);}
//  49.98%,62.64% {transform:translate3d(0,-75%,0);}
//  66.64%,79.3% {transform:translate3d(0,-50%,0);}
//  83.3%,95.96% {transform:translate3d(0,-25%,0);}
//}
//
//@-o-keyframes opacity {
//  0%, 100% {opacity:0;}
//  50% {opacity:1;}
//}

//@-o-keyframes change {
//  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
//  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
//  33.32%,45.98% {transform:translate3d(0,-50%,0);}
//  49.98%,62.64% {transform:translate3d(0,-75%,0);}
//  66.64%,79.3% {transform:translate3d(0,-50%,0);}
//  83.3%,95.96% {transform:translate3d(0,-25%,0);}
//}
//
//@-moz-keyframes opacity {
//  0%, 100% {opacity:0;}
//  50% {opacity:1;}
//}
//
//@-moz-keyframes change {
//  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
//  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
//  33.32%,45.98% {transform:translate3d(0,-50%,0);}
//  49.98%,62.64% {transform:translate3d(0,-75%,0);}
//  66.64%,79.3% {transform:translate3d(0,-50%,0);}
//  83.3%,95.96% {transform:translate3d(0,-25%,0);}
//}
//
//@keyframes opacity {
//  0%, 100% {opacity:0;}
//  50% {opacity:1;}
//}
//
//@keyframes change {
//  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
//  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
//  33.32%,45.98% {transform:translate3d(0,-50%,0);}
//  49.98%,62.64% {transform:translate3d(0,-75%,0);}
//  66.64%,79.3% {transform:translate3d(0,-50%,0);}
//  83.3%,95.96% {transform:translate3d(0,-25%,0);}
//}

@media only screen and (max-width: 1200px) {
  body {
    background-color: lightblue;
    .home-page{
      .home-info3{
        .text-large{
          font-size:60px;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  body{
    .active{
      justify-content: left;
      padding-left: 20px;
    }
    .container-fluid{
      padding-left: 35px !important;
      padding-right:35px !important;
    }
    .body_text {
      font-size: 12px;
      line-height: 18px;
    }
    .back-to-top {
      right: -14px;
      bottom: 20%;
    }
    .get-in-touch {
      left: -14px;
      bottom: 20%;
    }
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-color: lightblue;
    .active{
      justify-content: left;
      padding-left: 20px;
    }
    .container-fluid{
      padding-left: 35px !important;
      padding-right:35px !important;
    }
    .body_text {
      font-size: 12px;
      line-height: 18px;
    }
    .back-to-top {
      right: -14px;
      bottom: 20%;
    }
    .get-in-touch {
      left: -14px;
      bottom: 20%;
    }
    .home-page{
      .home-info3{
        .text-large{
          font-size:54px;
        }
      }
      .home-info2{

      }
    }
  }
}

@media only screen and (max-width: 576px) {
  body {
    background-color: lightblue;

    .home-page{
      .main-logo{
        max-height: 47px;
      }
    }
  }
}

@media only screen and (max-width: 300px){

}
