
.active{
  width: 100%;
  position: fixed;
  height: 61px;
  top: 0px;
  transition: 0.3s linear;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #E4E4E4;
  z-index: 1000;
}
.hidden{
  height: 61px;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #E4E4E4;
  position: fixed;
  top: -61px;
  transition: 0.3s linear;
}
.changecl{
  background: #000;
  border-bottom: 1px solid #666;
}
.changecl a.nav-link{
  color: #fff !important;
}
.header{
  padding: 0 !important;
  position: fixed;
  .header-content{
    width: 100%;
    #basic-navbar-nav {
      width: 100%;
      justify-content: center !important;
      .nav-link {
        color: #000000;
        padding: 0 50px;
        font-weight: 400;
        font-size: 14px;
      }
      .dropdown-item {
        .nav-link {
          padding: 0 10px;
        }
      }
      @media (max-width: 991px) {
        .nav-link {
          padding: 10px 0;
        }
      }
    }
  }
}

.footer {
  padding: 0 75px;
  padding-top: 100px;
  margin-top: auto;
  width: 100%;
  font-size: 14px;
  .footer-container {
    border-top: 1px solid #E4E4E4;
    padding-top: 40px;
    padding-bottom: 60px;
    display: flex;
    padding-left: 0px !important;
    padding-right: 0px !important;
    p {
      margin-bottom: 10px;
    }
    .mail-info {
      margin-bottom: 30px;
    }
    a {
      text-decoration-line: underline;
      color: #373737;
    }
    .read-more {
      margin-left: 5px;
    }
  }
}