.header-container {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #fff;
  height: 81px;
  border-bottom: 1px solid #E4E4E4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  padding: 0 !important;
  position: fixed;
  .header-content{
    width: 100%;
    padding: 30px;
    #basic-navbar-nav {
      width: 100%;
      justify-content: center !important;
      .nav-link {
        color: #000000;
        padding: 0 50px;
        font-weight: 400;
        font-size: 14px;
      }
      .dropdown-item {
        .nav-link {
          padding: 0 10px;
        }
      }
      @media (max-width: 991px) {
        .nav-link {
          padding: 10px 0;
        }
      }
    }
  }
}

.footer {
  padding: 0 75px;
  padding-top: 60px;
  margin-top: auto;
  width: 100%;
  font-size: 14px;
  .footer-container {
    border-top: 1px solid #E4E4E4;
    padding-top: 40px;
    padding-bottom: 60px;
    display: flex;
    p {
      margin-bottom: 10px;
    }
    .mail-info {
      margin-bottom: 30px;
    }
    a {
      text-decoration-line: underline;
      color: #373737;
    }
    .read-more {
      margin-left: 5px;
    }
  }
}