@font-face {
  font-family: 'AmericanaBT';
  src: url('font/Americana BT.ttf');
}

@font-face {
  font-family: 'Americana';
  src: url('font/Americana Bold BT.ttf');
}

@font-face {
  font-family: 'FuturaPT-bold';
  src: url('font/SFUFuturaBold.TTF');
}

@font-face {
  font-family: 'SFUFutura-itl';
  src: url('font/SFUFuturaLightOblique.TTF');
}

@font-face {
  font-family: 'SFUFutura';
  src: url('font/SFUFuturaBook.TTF');
}

@font-face {
  font-family: 'SFUFutura-md';
  src: url('font/SFUFuturaRegular.TTF');
}

@font-face{
  font-family: 'Sentient-lt';
  src: url('font/Sentient-Light.otf');
}

