@font-face {
    font-family: 'Americana';
    src: url('/public/fonts/Americana BT.ttf');
}

@font-face {
    font-family: 'FuturaPT';
    src: url('/public/fonts/FuturaPTBook.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('/public/fonts/FuturaPTMedium.otf');
    font-weight: bold;
}