@font-face {
    font-family: 'AmericanaBT';
    src: url('/public/fonts/Americana BT.ttf');
}

@font-face {
    font-family: 'Americana';
    src: url('/public/fonts/Americana Bold BT.ttf');
}

@font-face {
    font-family: 'FuturaPT book';
    src: url('/public/fonts/FuturaPTBook.otf');
}

@font-face {
    font-family: 'FuturaPT medium';
    src: url('/public/fonts/FuturaPTMedium.otf');
}